.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 188px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #e74c3c;	
  }
  button{
    color:#fff;
	background-color:RGB(246, 200, 0);
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	border-radius:2px;
    margin-left: 10px;
	cursor:pointer;
	position:relative;
  }